{% extends "::base.html.twig" %}
{% block title %}Ny Baiboliko{% endblock %}
{% block body %}
    <h2>{{ title }}</h2>
    <table class="table_content">
        {% for verset in versets %}
            {% if(verset.note != null) %}
                <tr>
                    <td> <h3><i>{{ verset.note }}</i></h3></td>
                </tr>
            {% endif%}
            <tr>
                <td><b>{{ verset.versetNumber }}.</b> {{ verset.text }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
