/* Left & Right alignment */
.left {
    float: left
}

.right {
    float: right
}

.wrapper {
    width: 100%;
    overflow: hidden
}

.relative {
    position: relative
}

/* Global properties ======================================================== */
body {
    background: url(../images/bg.jpg) top #000 no-repeat;
    background-size: 100%;
    border: 0;
    font: 14px Arial, Helvetica, sans-serif;
    line-height: 25px;
    min-width: 950px;
}

.css3 {
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    position: relative
}

.page_spinner {
    position: absolute;
    background: #000;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.left_block {
    float: left;
    width: 220px;
    background: #fff
}

/* Global Structure ============================================================= */
.main {
    margin: 150px auto;
    width: 950px
}

/* ============================= main layout ====================== */
a {
    color: #81b003;
    text-decoration: none;
    outline: none
}

a:hover {
}

strong {
    color: #81b003
}

h1 {
    float: left
}

h2 {
    font-size: 40px;
    color: #4d4d4d;
    line-height: 1.2em;
    padding: 7px 0 18px 0;
    letter-spacing: -1px
}

h2.letter_spacing {
    letter-spacing: -2px
}

h3 {
    font-size: 24px;
    line-height: 1.2em;
    color: #4d4d4d;
    padding: 11px 0 12px 0;
    letter-spacing: -1px
}

p {
    padding-bottom: 25px
}

/* ============================= header ====================== */
header {
    height: 70px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    padding: 18px 40px;
    margin: 60px 0px;
    opacity: 0.6;
}

#logo {
    display: block;
    text-indent: -9999px;
    background: url(../images/logo.png) 0 0 no-repeat;
    width: 307px;
    height: 65px
}

/* ============================= content ====================== */

.box {
    background: #ffffff;
    padding: 20px 60px;
    position: relative;
    min-height: 950px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    opacity: 0.6;
}
.table_content {
    width: 100%;
    background: #f2f2f2;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
    min-height: 25px
}

